@import '../../styles/theme';
@import '../../styles/mixin';

.stopwatch {
    grid-area: stopwatch;
    max-width: 100%;
    text-align: center;

    h2 {
        color: $white;
        margin-bottom: 1rem;
        font-size: 2.2rem;
    }
}

.stopwatch-container {
    background-color: $blue;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    height: 9rem;
    box-shadow: 0.2rem 0.4rem 0.4rem rgba($color: #000000, $alpha: 0.9);

    @media (min-width: 1208px) {
        height: 16rem;
    }

    span {
        color: $white;
        margin-right: 0.3rem;
        font-size: 5rem;

        @media (min-width: 1208px) {
            font-size: 16rem;
        }
    }

    .timer-number {
        border-radius: 1rem;
    }
}

.start-button {
    @include button-styles;
    margin-top: 2rem;
}
